@import 'bootstrap';
body
{

    font-family: "Century Gothic", serif;
    margin: 0;
    padding: 0;
}
.margin {
margin-top: 100px;
}

/* ----- Section liste -----*/
.recette {

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background: #179617;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.depense
{

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background: #d33030;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    display: block;
    margin-top: 5px;
    cursor: pointer;
}
.depenses table th a{
    text-decoration: none;
    color: black;
}
.liste table a img
{
  cursor: pointer;
}

/* section produits */
.produits
{

}
.produits h4
{
    font-weight: bold
}
.produits h6
{
    font-weight: bold;
    font-family: \"Courier New\";
}

.produits form .mySearch
{
    width: 75%;
    border-radius: 0;
    border : 1px solid black;
}
.produits form .mySearch:focus {
    box-shadow: none;
    outline: none;
}

.produits .table tr img
{
    cursor: pointer;
}

.produits .myform
{
    position: sticky;
    top: 60px;
}
.produits .detail
{
    font-size: 12px;
    border: 1px solid #075985;
    padding: 5px;
    border-radius: 5px;
    background: #075985;
    color: white;
    cursor: pointer;
    transition: all 0.3s
}
.produits .detail:hover
{
    background: #084561;
}
/* section produits end*/

/** Section login **/
.login
{

}
.login .container
{
    display: flex;
    height: 70vh;
}
.login .container form
{
    width: 350px;
    margin: auto;
}
.login .container form input
{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 0px;

}
.login .container form input:focus
{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 255, 0.38);
    border-radius: 0px;
    box-shadow: none;

}
/**responsive login**/

/**Section navbar**/
.navbar .liste
 {
    display: block;
    position: absolute;
    right: 100px;
    margin: 0;
    padding: 0;
 }
.navbar .liste li
{
    list-style-type: none;
    display: inline-block;
    letter-spacing: 1px;
    margin-left: 15px;
}
/*-----------Section recette start ----------*/
.recetteSearch{
        display: flex;
    justify-content: center;
    align-items: center;
}
.recettes form .mySearch
{
    border-radius: 0;
    border : 1px solid black;

}
.recettes form .mySearch:focus {
    box-shadow: none;
    outline: none;
}
.recettes form .btn-r {
    border : 1px solid black;
    border-radius: 0;
    transition: all 0.4s;
}
.recettes form .btn-r:hover {
    background: black;
    color: white;
}

.recettes th a{
    text-decoration: none;
    color: black;
}
.recettes  a{
    text-decoration: none;
    color: black;
}
/*-----------Section recette end ----------*/

.mylogo{
    width: 60px;
}

/*-----------Section depense  ----------*/
.depenses .container form .mb-3 {
    margin-bottom: 20px;
}

/*-----------Section depense end ----------*/


/*-----------Section Client  ----------*/

.input_customer:focus{
    box-shadow: none;
    border-color: rgba(13, 94, 66, 0.57);
}
.customer form .ctbtn{
    border: 1px solid black;
    border-left:none;
    background-color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: black;
    color:white;
}
.customer table a{
   padding: 10px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    cursor:pointer;
}


/*-----------Section Client end----------*/
