{% extends 'base.html.twig' %}
{% block title %}Dépense{% endblock %}
{% block body %}
    <section class="edit-depense">
        <div class="container">
            <h4>Editer</h4>
            {{ form(form) }}
        </div>
    </section>
{% endblock %}



