{% extends 'base.html.twig' %}

{% block title %}Ulysse{% endblock %}

{% block body %}
    <section class="Ulysse">
        <div class="container">
            <h3>Ajout d'un nouveau produit</h3>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
